<div class="container">
    <table>
        <tr>
            <th>COD</th>
            <th>Data</th>
            <th>Pista</th>
            <th>Campeonato</th>
            <th>Ações</th>
        </tr>
        <tr *ngFor="let corrida of corridas">
            <td class="celulaCentralizada">{{corrida.id}}</td>
            <td>{{corrida.data}}</td>
            <td class="celulaCentralizada">{{corrida.pistaId}}</td>
            <td class="celulaCentralizada">{{corrida.campeonatoNome}}</td>
            <td class="celulaCentralizada">
                <img (click)="delete(corrida)" class="icone" src="../../../../../assets/icons/delete.png" alt="lixo">
                <img (click)="getCorridaSelect(corrida)" class="icone" src="../../../../../assets/icons/edit.png" alt="caneta">
            </td>
        </tr>
    </table>
</div>
