<div class="container">
    <div class="combobox-container">
        <label for="data-hora">Data e Hora:</label>
        <input class="input" type="datetime-local" id="data-hora" [(ngModel)]="corrida.data">
        <img class="lupa" src="../../../../../assets/icons/lupa.png" alt="lupa" (click)="getCorridaByData()">
    </div>
    <div class="combobox-container">
        <label for="pistas">Pista:</label>
        <select id="pistas" class="combobox-select" [(ngModel)]="pistaSelecionada" (change)="pistaId = pistaSelecionada.id">
            <option value="" disabled selected>Selecione uma pista</option>
            <option *ngFor="let pista of pistas" [ngValue]="pista">{{pista.id}} - {{pista.tamanho}}m - {{pista.pais.name}}</option>
        </select>
        <img class="lupa" src="../../../../../assets/icons/lupa.png" alt="lupa" (click)="getCorridaByPista()">
    </div>
    <div class="combobox-container">
        <label for="campeonatos">Campeonato:</label>
        <select id="campeonatos" class="combobox-select" [(ngModel)]="campeonatoSelecionado" (change)="campeonatoId = campeonatoSelecionado.id">
            <option value="" disabled selected>Selecione um campeonato</option>
            <option *ngFor="let campeonato of campeonatos" [ngValue]="campeonato">{{campeonato.description}} - {{campeonato.ano}}</option>
        </select>
        <img class="lupa" src="../../../../../assets/icons/lupa.png" alt="lupa" (click)="getCorridaByCampeonato()">
    </div>
    <div class="buttonContainer">
        <button (click)="insert()">Salvar</button>
    </div>
    <div class="combobox-container">
        <label for="id">COD:</label>
        <input class="inputCodigo" type="text" id="id" [(ngModel)]="id" placeholder="Busque pelo codigo aqui">
        <img class="lupa" src="../../../../../assets/icons/lupa.png" alt="lupa" (click)="getCorridaById()">
    </div>
    <div class="espacamentoBuscar">
        <label class="labelBuscar" for="datas">Buscar corridas entre datas:</label>
    </div>
    <div class="form-group">
        <input class="inputPequeno" type="datetime-local" id="datas" [(ngModel)]="dataInicial" placeholder="Data e hora inicial">
        <input class="inputPequeno" type="datetime-local" id="datas" [(ngModel)]="dataFinal" placeholder="Data e hora final">
        <img class="lupa" src="../../../../../assets/icons/lupa.png" alt="lupa" (click)="getCorridaByDataBetween()">
    </div>
</div>
