<div class="container">
    <div class="combobox-container">
        <label for="tamanho">Tamanho:</label>
        <input class="input" type="text" id="tamanho" [(ngModel)]="pista.tamanho">
    </div>
    <div class="combobox-container">
        <label for="pais">Pais:</label>
        <select id="paises" class="combobox-select" [(ngModel)]="paisSelecionado" (change)="paisId = paisSelecionado.id">
            <option value="" disabled selected>Selecione um país</option>
            <option *ngFor="let pais of paises" [ngValue]="pais">{{pais.name}}</option>
        </select>
        <img class="lupa" src="../../../../../assets/icons/lupa.png" alt="lupa" (click)="getPistaByPais()">
    </div>
    <div class="buttonContainer">
        <button (click)="insert()">Salvar</button>
    </div>
    <div class="combobox-container">
        <label for="id">COD:</label>
        <input class="inputCodigo" type="text" id="id" [(ngModel)]="id" placeholder="Busque pelo codigo aqui">
        <img class="lupa" src="../../../../../assets/icons/lupa.png" alt="lupa" (click)="getPistaById()">
    </div>
    <div class="espacamentoBuscar">
        <label class="labelBuscar" for="tamanhos">Buscar pistas entre tamanhos:</label>
    </div>
    <div class="form-group">
        <input class="inputPequeno" type="text" id="tamanhos" [(ngModel)]="tamanhoInicial" placeholder="Tamanho inicial">
        <input class="inputPequeno" type="text" id="tamanhos" [(ngModel)]="tamanhoFinal" placeholder="Tamanho final">
        <img class="lupa" src="../../../../../assets/icons/lupa.png" alt="lupa" (click)="getPistaByTamanho()">
    </div>
</div>

