<div class="container">
    <table>
        <tr>
            <th>COD</th>
            <th>Piloto</th>
            <th>Equipe</th>
            <th>Colocacao</th>
        </tr>
        <tr *ngFor="let pilotoPais of pilotosPais">
            <td class="celulaCentralizada">{{pilotoPais.pilotoId}}</td>
            <td>{{pilotoPais.pilotoNome}}</td>
            <td>{{pilotoPais.equipeNome}}</td>
            <td class="celulaCentralizada">{{pilotoPais.colocacao}}</td>
        </tr>
    </table>
</div>

