<div class="container">
    <table>
        <tr>
            <th>COD</th>
            <th>Piloto</th>
            <th>Corrida</th>
            <th>Colocacao</th>
            <th>Ações</th>
        </tr>
        <tr *ngFor="let pilotoCorrida of pilotosCorridas">
            <td>{{pilotoCorrida.id}}</td>
            <td>{{pilotoCorrida.pilotoNome}}</td>
            <td>{{pilotoCorrida.corridaData}}</td>
            <td>{{pilotoCorrida.colocacao}}</td>
            <td class="celulaCentralizada">
                <img (click)="delete(pilotoCorrida)" class="icone" src="../../../../../assets/icons/delete.png" alt="lixo">
                <img (click)="getPilotoCorridaSelect(pilotoCorrida)" class="icone" src="../../../../../assets/icons/edit.png" alt="caneta">
            </td>
        </tr>
    </table>
</div>
