<h1 class="titulo">TRIER SISTEMAS</h1>
<div class="menu">
    <a routerLink="/home">HOME</a>
    <a routerLink="/user">Usuários</a>
    <a routerLink="/pais">Países</a>
    <a routerLink="/equipe">Equipes</a>
    <a routerLink="/campeonato">Campeonatos</a>
    <a routerLink="/pista">Pistas</a>
    <a routerLink="/corrida">Corridas</a>
    <a routerLink="/piloto">Pilotos</a>
    <a routerLink="/piloto-corrida">Pilotos e Corridas</a>
    <a routerLink="/corridas-pais-ano">Corridas por País e Ano</a>
    <a routerLink="/pilotos-pais-corrida">Pilotos por País e Corrida</a>
</div>

